<section id="experience">
  <h2>Parcours & formations</h2>

  <div class="timeline">
    <div class="timeline-item">
      <p class="timeline-date">2025 - 2026</p>
      <h3>Formation Développeur Web & Web Mobile</h3>
      <p>
        Apprentissage du développement front-end et back-end à travers des
        projets pratiques et la mise en œuvre d’applications web.
      </p>
    </div>

    <div class="timeline-item">
      <p class="timeline-date">2013</p>
      <h3>Diplôme d'État d'Éducateur spécialisé</h3>
      <p>
        Un parcours qui m’a permis de développer l’écoute, l’adaptabilité et le
        sens du travail en équipe.
      </p>
    </div>

    <div class="timeline-item">
      <p class="timeline-date">2008</p>
      <h3>Baccalauréat Professionnel Technicien d’Usinage</h3>
      <p>
        Première formation technique qui participe aujourd’hui à ma rigueur et à
        mon approche structurée.
      </p>
    </div>
  </div>
</section>